
body {
  font-family: sans-serif;
  text-align: center;
  background-color: #f3f3f3;
  padding-bottom: 250px;
}
#app {
  margin-top: 20px;
}
input {
  margin: 5px;
  padding: 10px;
}
button {
  padding: 10px;
  margin: 5px;
}
#welcome {
  font-weight: bold;
  margin-bottom: 10px;
}
